<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>Quiz 5:</h2>

        <div>
          <input type="text" :value="formUser" @input = "formUser = $event.target.value">
          <button @click ="addUser" v-if = "!ButtonEdit">Add</button>
          <button @click ="updateUser" v-if = "ButtonEdit">Update</button>
        </div>

        <div class="userList">
          <ul v-for="( item , index ) in users">
            <li :key="index">
                {{item.name}} ||
                <button @click="editUser(index)">Edit</button>
                <button @click ="deleteUser(index)">Delete</button>

            </li>
        </ul>
        </div>      
      </div>
    
      <script>
        let  vm = new Vue({
          el: "#app",
          data: {
            users : [
                {'name' : "Muhammad Iqbal Mubarok"},
                {'name' : "Rubby Purwanti"},
                {'name' : "Faqih Muhammad"},
            ],
            formUser : '',
            ButtonEdit : false,
            idSelected : null,
            
          },
          methods : {
              addUser: function(){
              this.users.push ({name : this.formUser})
              this.formUser =''
            },
             
            editUser: function(id){
             this.formUser = this.users[id].name
             this.ButtonEdit = true
             this.idSelected = id
            },

            updateUser : function(){
              this.users[this.idSelected].name = this.formUser
              this.formUser = ''
              this.ButtonEdit = false
            },

            deleteUser : function(index){
                let comfirmation = confirm("apakah anda yakin")

                if(comfirmation){
                  this.users.splice(index,1)
                 
                }
            }
          }
        })
      </script>
    
</body>
</html>